:root {
  --primary-font-color: #2E2F42;
  --secondary-font-color: #FFFFFF;
  --accent-font-color: #404BBF;

  --primary-background-color: #FFFFFF;
  --accent-background-color: #2e2f42;  

  --primary-button-color: #4D5AE5;
  --secondary-button-color: #F4F4FD;
  --accent-button-color: #404BBF;

  --border: #E7E9FC;
}

body {
  background-color: var(--primary-background-color);

  color: var(--primary-font-color);
  font-family: "Roboto", sans-serif;
	font-size: 16px;
  
  width: 1440px;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Logo */
.logo {
  color: var(--primary-font-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
	text-decoration: none;
}

.logo-accent {
  color: var(--primary-button-color);
}

/* Nav */
.header{
  display: flex;
  align-items: center;
}

.nav{
  display: flex;
  align-items: center;
}

.nav-list{
  display: flex;
  margin-left: 76px;
}

.nav-item:not(:first-child){
  margin-left: 40px;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--primary-font-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-font-color);
}

/* Address */
.address{
  margin-left: auto;
}

.address-list{
  display: flex;
  align-items: center;
}

.address-item:not(:first-child){
  margin-left: 40px;
}

.address-link {
  color: var(--primary-font-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
	text-decoration: none;
}

.address-link:hover,
.address-link:focus{
  color: var(--accent-font-color);
}

/* Main */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section{
  margin-top: 120px;
}

.section-title {
  color: var(--primary-font-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;

  margin-top: 0;
  margin-bottom: 72px;
}

.advantage-title,
.team-title,
.work-title {
  color: var(--primary-font-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-top: 0;
  margin-bottom: 8px;
}

.text{
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}

/* Hero */
.hero {
  background-color: var(--accent-background-color);
  text-align: center;

  padding-top: 188px;
  padding-bottom: 188px;
  margin-bottom: 120px;
}

.hero-title {
	width: 496px;
	margin: 0 auto 48px;

  color: var(--secondary-font-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  background-color: var(--primary-button-color);

  color: var(--secondary-font-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;

  padding: 16px 32px;

	cursor: pointer;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active{
	background-color: var(--accent-button-color);
}

/* Advantage */
.advantages-list{
	display: flex;
	justify-content: space-between;
}

.advantages-list .text{
	width: 264px;
}

/* Occupation */
.occupation-list{
	display: flex;
	justify-content: space-between;
}

/* Team */
.team{
	background-color: var(--secondary-button-color);

  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list{
	display: flex;
	justify-content: space-between;
}

.team-item{
	background-color: var(--primary-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 264px;
  padding-bottom: 32px;
}

.team-img,
.work-img{
  display: block;
}

.team-label{
  text-align: center;
  margin: 32px 0 0;
}

/* Portfolio */
.portfolio-section{
  padding-top: 96px;
  padding-bottom: 120px;
}

/* Filtr */
.filtr-list{
	display: flex;
	justify-content: center;
  margin-bottom: 24px;
}

.filtr-button {
  background-color: var(--secondary-button-color);

  color: var(--primary-button-color);
  font-family: inherit;
  font-weight: 500;
	font-size: 16px;
  line-height: 1.5;
	letter-spacing: 0.04em;

  border: 1px solid var(--border);
  border-radius: 4px;

  padding: 11px 23px;

	cursor: pointer;
}

.filtr-item:not(:first-child){
	margin-left: 24px;
}

.filtr-button:hover,
.filtr-button:focus {
  background-color: var(--accent-button-color);
  color: var(--secondary-font-color);
}

/* Works */
.works-list{
	display: flex;
	flex-wrap: wrap;
}

.work-item{
	width: 360px;
	margin-top: 48px;
  border: 1px solid #E7E9FC;
}

.work-item:not(:nth-child(3n)){
	margin-right: 24px;
}

.work-link{
  display: block;
	text-decoration: none;
  padding-bottom: 32px;
}

.work-label{
  margin: 32px 0 0;
  padding: 0 16px;
}

.work-text{
  color: var(--primary-font-color);
}

/* Footer */
.footer {
  background-color: var(--accent-background-color);

  padding: 100px 0;
}

.logo.footer {
  color: var(--secondary-font-color);
}

.footer-text {
  color: var(--secondary-font-color);

  width: 264px;

  margin-top: 16px;
  margin-bottom: 0;
}
